---
import Layout from "../layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout>
    <Container class="pt-36">
        <section class="bg-[#E5E5E5] flex items-center h-screen p-16 dark:bg-gray-700">
            <div class="container flex flex-col items-center ">
                <div class="flex flex-col gap-6 max-w-md text-center">
                    <h2 class="font-extrabold text-6xl text-gray-600 dark:text-gray-100">
                        comming soon
                    </h2>
                    <a href="/new-site/" class="px-8 py-4 text-xl font-semibold rounded bg-purple-600 text-gray-50 hover:text-gray-200">Back to Home</a>
                </div>
            </div>
        </section>
    </Container>
</Layout>