---
import Layout from "../layouts/Layout.astro";
import Container from "@components/container.astro";
---

<Layout>
    <Container class="pt-36">
    <main class="mx-auto">
        <section class="mx-auto py-12 text-gray-800 md:py-24">
            <div
                class="mx-auto flex max-w-md flex-col rounded-lg md:max-w-screen-xl md:flex-row"
            >
                <div class="max-w-2xl px-4 lg:pr-24">
                    <p class="mb-2 text-blue-600">コミュニティへの参加方法</p>
                    <h3 class="mb-5 text-3xl md:text-4xl md:leading-5 font-semibold">
                        Slackへの加入手続きをする
                    </h3>
                    <p class="mb-16 text-xl md:text-2xl text-gray-600">
                        wakamonogはメンバー間のコミュニケーションにSlackを利用しています。Slackの利用にあたっては、以下のルールを遵守していただくようお願いします。
                    </p>
                    <div class="mb-5 flex font-medium">
                        <div class="mr-4">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-7 w-7 text-blue-500"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M7.5 7.5h-.75A2.25 2.25 0 004.5 9.75v7.5a2.25 2.25 0 002.25 2.25h7.5a2.25 2.25 0 002.25-2.25v-7.5a2.25 2.25 0 00-2.25-2.25h-.75m-6 3.75l3 3m0 0l3-3m-3 3V1.5m6 9h.75a2.25 2.25 0 012.25 2.25v7.5a2.25 2.25 0 01-2.25 2.25h-7.5a2.25 2.25 0 01-2.25-2.25v-.75"
                                ></path>
                            </svg>
                        </div>
                        <div class="">
                            <p class="mb-2 text-xl md:text-2xl font-semibold">個人または組織に対する誹謗中傷の禁止</p>
                            <span class="font-normal text-xl md:text-2xl text-gray-600"
                                >誹謗中傷は、他人の名誉や信用を傷つける行為であり、このような行為は、被害者に深刻な精神的苦痛を与えます。当コミュニティでは、互いを尊重し、建設的な議論と交流を促進することを目指しています。</span
                            >
                        </div>
                    </div>
                    <div class="mb-5 flex font-medium">
                        <div class="mr-4">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-7 w-7 text-blue-500"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99"
                                ></path>
                            </svg>
                        </div>
                        <div class="">
                            <p class="mb-2 text-xl md:text-2xl font-semibold">相手に望まれない、個人宛のDM送付や迷惑行為の禁止</p>
                            <span class="font-normal text-xl md:text-2xl text-gray-600"
                                >相手の意思に反するDMやしつこい連絡は、不快感やストレスを与える原因となります。他者のプライバシーや意思を尊重し、思いやりのある行動を心がけましょう。</span
                            >
                        </div>
                    </div>
                    <div class="mb-5 flex font-medium">
                        <div class="mr-4">
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="h-7 w-7 text-blue-500"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
                                ></path>
                            </svg>
                        </div>
                        <div class="">
                            <p class="mb-2 text-xl md:text-2xl font-semibold">嫌なことがあったらcommittee（運営）へ</p>
                            <span class="font-normal text-xl md:text-2xl text-gray-600"
                                >嫌なことがあったら、遠慮せずにcommittee（運営）にご相談ください。私たちはコミュニティでのメンバーの安心と快適さを大切に考えています。問題が大きくなる前に、気軽に運営へお声がけいただけると嬉しいです。committee（運営）の目印は、slackアカウントの:ｺﾐｯﾃｨ:です。</span
                            >
                        </div>
                    </div>
                </div>
                <div
                    class="border border-gray-100 shadow-gray-500/20 mt-8 mb-8 max-w-md bg-white shadow-sm rounded-lg shadow-lg lg:mt-0"
                >
                    <div
                        class="p-4 sm:p-8"
                    >
                        <h3 class="mb-1 inline-block text-3xl md:text-4xl font-medium">
                            <span class="mr-4">JOIN wakamonog!<br></span>
                        </h3>
                        <p class="text-gray-600">
                            下記のボタンよりSlackへの登録をお願いします。
                        </p>
                    </div>

                    <div class="p-4 sm:p-8">
                        <h4 class="mb-1 inline-block text-xl md:text-2xl font-semibold">
                            <span class="mr-4">登録後のお願い（任意）</span>
                        </h4>
                        <p class="text-xl md:text-2xl text-gray-600">
                            wakamonog Slackへの登録後には、コミュニケーションの輪を広げるために、random チャンネルへの次のフォーマットに従った自己紹介をお願いしています。（投稿は任意です。）<br><br>
                            -------------------<br>
                            名前：<br>
                            年齢：※黙秘権あり<br>
                            業種：<br>
                            職種：<br>
                            近況：<br>
                            -------------------<br><br>

                        </p>

                        <a href="https://join.slack.com/t/wakamonog/shared_invite/enQtNzA3MzYyNzc1NjA3LTk4YzA1MjJkNDMxNzBiODkzYWEwNTIzNDUwYTMzNDVlNjMwN2IyYWVkNGE3ZWI1NGIzZjQ3MmJjOTA1YTEyMjc" class="text-white bg-orange-500 hover:bg-orange-600 font-medium rounded-lg text-base md:text-lg px-5 py-2.5 md:px-8 md:py-5 ">Start wakamonog Slack</a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    </Container>
</Layout>
