<main>
    <section class="mx-auto flex max-w-lg flex-col px-4 py-10 lg:max-w-screen-xl lg:flex-row">
        <div class="max-w-md pr-20 lg:pt-28">
        <img src="https://assets-global.website-files.com/6009ec8cda7f305645c9d91b/601074ed0f05cd25097215a4_6002086f72b7277e1f01d682_ryan-morrison-illustration-1.png" alt="" />
        </div>
        <div class="">
        <h2 class="mb-10 max-w-lx text-gray-900 text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug">コミュニティの活動内容</h2>
        <div class="grid gap-y-12 gap-x-8 md:grid-cols-2">
            <div>
            <p class="mb-6 border-l-4 border-indigo-600 pl-4 text-gray-700 text-3xl md:text-4xl leading-10">定期的な勉強会</p>
            <p class="text-xl md:text-2xl text-gray-800">IT技術やトレンドに関する定期的な勉強会を開催しています。勉強会では、各分野の専門家による講演やハンズオンセッションが行われ、実践的なスキルを身につけることができます。また、メンバー同士で知識を共有することで、コミュニティ全体のスキル向上を図っています。</p>
            </div>
            <div>
            <p class="mb-6 border-l-4 border-indigo-600 pl-4 text-gray-700 text-3xl md:text-4xl leading-10">懇親会の開催</p>
            <p class="text-xl md:text-2xl text-gray-800">wakamonogでは、勉強会に加えて、懇親会などのカジュアルなイベントも定期的に開催しています。懇親会では、仕事や技術についてのディスカッションだけでなく、趣味や興味についても語り合うことができ、同世代の仲間を見つけることができます。</p>
            </div>
            <div>
            <p class="mb-6 border-l-4 border-indigo-600 pl-4 text-gray-700 text-3xl md:text-4xl leading-10">他のIT系コミュニティと相互活動</p>
            <p class="text-xl md:text-2xl text-gray-800">wakamonogは、他のIT系コミュニティと積極的に連携し、相互活動を行っています。異なるコミュニティのメンバーと交流することで、多様な視点や知識を得ることができ、ネットワークを広げるチャンスが増えます。こうした活動は、より大規模なイベントの実現を可能にすると考えています。</p>
            </div>
            <div>
            <p class="mb-6 border-l-4 border-indigo-600 pl-4 text-gray-700 text-3xl md:text-4xl leading-10">特別企画の実施</p>
            <p class="text-xl md:text-2xl text-gray-800">メンバーの興味・関心を引き、技術力を向上させるための特別企画も実施しています。これには、ハッカソン、ワークショップなど、通常の活動とは異なる形式のイベントが含まれます。過去の実績として、「QTnet様 データセンター見学」などがあります。これからも、さらにワクワクするような企画を実施していきます。</p>
            </div>
        </div>
        </div>
    </section>
</main>

<main class="text-center">
  <h2 class="mb-10 max-w-lx text-gray-900 text-4xl font-bold leading-snug lg:text-5xl lg:leading-snug">「Next wakamonog meeting」</h2>
  <div class="flex items-center justify-center">
    <div class="max-w-4xl flex flex-col rounded-lg overflow-hidden bg-white shadow">

      <img class="h-56 w-full object-cover"
        src="./img/Shibuya.webp"
        alt="Imaginary Shibuya" />

      <div class="flex-1 px-6 py-8">
        <p class="text-xl md:text-2xl text-gray-700 text-base"><b>wakamonog meeting 16</b><br>2025年9月12日(金) @ 株式会社MIXI コラボスペース</p>
      </div>

      <div class="px-8 py-4 bg-gray-100">
        <button type="button" onclick="location.href='https://wakamonog.connpass.com/event/365199/'"
          class="bg-blue-600 hover:bg-blue-700 py-4 px-8 text-sm font-medium text-xl md:text-2xl text-white border border-transparent rounded-lg focus:outline-none">Connpassページ</button>
      </div> 

    </div>
  </div>
</main>

<main>
    <section class="mx-auto flex max-w-lg flex-col px-4 py-10 md:max-w-screen-xl md:flex-row">
        <div class=" flex flex-col justify-center">
          <h2 class="mb-10 max-w-lx text-gray-900 font-bold leading-snug text-4xl md:text-5xl lg:leading-snug">wakamonogの活動履歴</h2> 
            <div class="-m-1.5 overflow-x-auto">
              <div class="p-1.5 min-w-full inline-block align-middle">
                <div class="overflow-hidden">
                  <table class="min-w-full divide-y divide-gray-200">
                    <tbody class="divide-y divide-gray-200">
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">1.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2012/07/05</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600"href="http://www.janog.gr.jp/meeting/janog30/program/lt6.html">wakamonog reborn (JANOG30 ライトニングトーク)</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">2.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2012/10/05</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://atnd.org/events/32536">wakamonog meeting 1</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">3.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2012/12/08</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://web.archive.org/web/20130329041235/http://atnd.org/event/wakamonog02">wakamonog meeting 2012 忘年会</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">4.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2013/01/25</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://www.janog.gr.jp/meeting/janog31/program/wakamonog.html">wakamonog update (JANOG31 BoF)</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">5.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2013/02/28</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://www.apricot.net/apricot2013/program/presentations/#asset-52256">wakamonog - Network Operators Group for young people (APRICOT 2013 Lightning Talks)</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">6.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2013/03/19</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://web.archive.org/web/20130524174154/http://atnd.org/event/wakamonog2">wakamonog meeting #2</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">7.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2013/05/29</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://atnd.org/events/39782">wakamonog meeting #3</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">8.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2013/10/23</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://atnd.org/events/44386">wakamonog meeting #4</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">9.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2014/05/23</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://atnd.org/events/50358">wakamonog meeting #5</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">10.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2014/09/15</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://conference.apnic.net/38/program#youthprogrambof">Introduction of Wakamonog (APNIC 38 Youth Program BoF)</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">11.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2014/09/29</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://atnd.org/events/55466">wakamonog meeting #6</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">12.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2014/12/12</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://wakamonog.connpass.com/event/10158/">wakamonog忘年会 2014</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">13.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2015/01/30</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://wakamonog.connpass.com/event/11099/">wakamonog meeting #7</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">14.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2015/04/14</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://ssmjp.connpass.com/event/13173/">wakamonog × #ssmjp</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">15.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2015/04/17</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://www.janog.gr.jp/meeting/janog35.5/lt">wakamonog update 2015 (JANOG 35.5 わくわくライトニングトーク)</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">16.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2015/05/15</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://wakamonog.connpass.com/event/14726/">wakamonog meeting #8</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">17.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2016/03/18</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://wakamonog.connpass.com/event/26284/">wakamonog meeting #9</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">18.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2017/06/23</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://wakamonog.connpass.com/event/56705/">wakamonog meeting #10</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">19.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2019/10/25</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="http://wakamonog.connpass.com/event/144741/">wakamonog meeting #11</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">20.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2023/07/06</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://www.janog.gr.jp/meeting/janog52/bof-wakamonog/">Rebooting wakamonog (JANOG 52 BoF)</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">21.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2023/11/10</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://wakamonog.connpass.com/event/293169/">wakamonog meeting #12</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">22.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2024/01/16</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://wakamonog.connpass.com/event/304815/">wakamonog meeting #13</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">23.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2024/02/16</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://wakamonog.connpass.com/event/308583/">wakamonog × YOTA Japan ～学生と6G研究開発を語る～</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">24.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2024/07/02</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://wakamonog.connpass.com/event/317895/">wakamonog meeting #14</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">25.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2025/01/21</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://wakamonog.connpass.com/event/336722/">wakamonog meeting #15</a></td>
                      </tr>
                      <tr class="hover:bg-gray-100">
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl font-medium text-gray-800">26.</td>
                        <td class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800">2025/09/12</td>
                        <td><a class="px-6 py-4 whitespace-nowrap text-xl md:text-2xl text-gray-800 underline text-primary-600" href="https://wakamonog.connpass.com/event/365199/">wakamonog meeting #16</a></td>
                      </tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
    </section>
</main>
  
