<section class="pt-20 bg-[#E5E5E5]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-6">
        <div class="max-w-screen-md ">
            <h2 class="leading-relaxed mb-4 text-4xl  md:text-5xl tracking-tight font-extrabold text-gray-900 dark:text-white"><a class="text-4xl md:text-5xl text-yellow-500">wakamonog reborn @JANOG30 Meeting</a><br>では次の目標を掲げています。</h2>
        </div>
    </div>
    <div class="bg-[#E5E5E5] px-2 py-2">
        <div id="features" class="mx-auto max-w-9xl text-2xl">
          <ul class="mt-3 grid grid-cols-1 gap-6 text-center text-slate-700 md:grid-cols-3">
            <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
      
              <img src="https://www.svgrepo.com/show/530438/ddos-protection.svg" alt="" class="mx-auto h-10 w-10">
              <h3 class="my-3 font-display font-medium">メンバーの枠を広げる</h3>
              <p class="mt-1.5 text-sm leading-6 text-secondary-500">
                コミュニティの多様性を高めるために、新しいメンバーを積極的に勧誘します。異なる技術的背景や経験を持つ個々人を迎え入れることで、新しい視点やアイデアを取り入れ、コミュニティ全体の創造性と革新性を向上させます。
              </p>
      
            </li>
            <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
      
              <img src="https://www.svgrepo.com/show/530442/port-detection.svg"
                      alt="" class="mx-auto h-10 w-10">
              <h3 class="my-3 font-display font-medium">組織として活動する</h3>
              <p class="mt-1.5 text-sm leading-6 text-secondary-500">
                コミュニティ全体の効果的な運営のために、明確な役割分担とリーダーシップを確立します。各メンバーが自分の強みを活かして活動できるようにサポートし、コミュニティ全体のパフォーマンスを向上させます。
              </p>
      
            </li>
            <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
              <img src="https://www.svgrepo.com/show/530444/availability.svg" alt="" class="mx-auto h-10 w-10">
              <h3 class="my-3 font-display font-medium">定期的に活動する</h3>
              <p class="mt-1.5 text-sm leading-6 text-secondary-500">
                定期的なミーティングやワークショップを開催し、コミュニティの活性化を図ります。継続的な学習と成長の機会を提供することで、メンバー間の結束を強化し、コミュニティ全体の一体感と連携を促進します。
              </p>
      
            </li>
          </ul>
        </div>
    </div>
    
  </section>