<section class="pb-4 bg-[#E5E5E5]">
  <div class="max-w-8xl mx-auto p-4 sm:p-4 lg:p-8">
      <div class="container mx-auto px-6 p-4 bg-[#E5E5E5]">
          <div class="mb-2 text-center">
              <h4 class="text-base text-indigo-600 font-semibold tracking-wide uppercase">Member Recruitment</h4>
              <p class="mt-2 text-4xl md:text-5xl font-bold tracking-tight text-gray-900 pb-5 md:pb-10">wakamonoger募集
              </p>
              <p class="text-3xl md:text-4xl text-gray-700">
                wakamonogではメンバーをwakamonogerと呼んでいます。<br>あなたもwakamonogerの仲間入りをしませんか？
            </p>
          </div>
          <div class="flex flex-wrap my-6">
              <div class="w-full border-b md:w-1/2 md:border-r lg:w-1/3 p-8">
                  <div class="flex items-center mb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20"
                          fill="currentColor" class="h-6 w-6 text-indigo-500">
                          <path
                              d="M16 3C8.8 3 3 8.8 3 16s5.8 13 13 13 13-5.8 13-13c0-1.398-.188-2.793-.688-4.094L26.688 13.5c.2.8.313 1.602.313 2.5 0 6.102-4.898 11-11 11S5 22.102 5 16 9.898 5 16 5c3 0 5.695 1.195 7.594 3.094L25 6.688C22.7 4.386 19.5 3 16 3zm11.281 4.281L16 18.563l-4.281-4.282-1.438 1.438 5 5 .719.687.719-.687 12-12z">
                          </path>
                      </svg>
                      <div class="text-gray-700 ml-4 text-3xl md:text-4xl">0x20歳以下<br>(not Must)</div>
                  </div>
                  <p class="text-gray-500 text-xl md:text-2xl">0x20歳以下が一応の目安ですが、見守っていただけるベテランの方のご参加もお待ちしています。
                  </p>
              </div>

              <div class="w-full border-b md:w-1/2 lg:w-1/3 lg:border-r p-8">
                  <div class="flex items-center mb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20"
                          fill="currentColor" class="h-6 w-6 text-indigo-500">
                          <path
                              d="M16 3C8.8 3 3 8.8 3 16s5.8 13 13 13 13-5.8 13-13c0-1.398-.188-2.793-.688-4.094L26.688 13.5c.2.8.313 1.602.313 2.5 0 6.102-4.898 11-11 11S5 22.102 5 16 9.898 5 16 5c3 0 5.695 1.195 7.594 3.094L25 6.688C22.7 4.386 19.5 3 16 3zm11.281 4.281L16 18.563l-4.281-4.282-1.438 1.438 5 5 .719.687.719-.687 12-12z">
                          </path>
                      </svg>
                      <div class="text-gray-700 ml-4 text-3xl md:text-4xl">たくさんの<br>やる気がある</div>
                  </div>
                  <p class="text-gray-500 text-xl md:text-2xl">若者が多いコミュニティなので、みんなやる気があります。
                  </p>
              </div>

              <div class="w-full border-b md:w-1/2 md:border-r lg:w-1/3 lg:border-r-0 p-8">
                  <div class="flex items-center mb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20"
                          fill="currentColor" class="h-6 w-6 text-indigo-500">
                          <path
                              d="M16 3C8.8 3 3 8.8 3 16s5.8 13 13 13 13-5.8 13-13c0-1.398-.188-2.793-.688-4.094L26.688 13.5c.2.8.313 1.602.313 2.5 0 6.102-4.898 11-11 11S5 22.102 5 16 9.898 5 16 5c3 0 5.695 1.195 7.594 3.094L25 6.688C22.7 4.386 19.5 3 16 3zm11.281 4.281L16 18.563l-4.281-4.282-1.438 1.438 5 5 .719.687.719-.687 12-12z">
                          </path>
                      </svg>
                      <div class="text-gray-700 ml-4 text-3xl md:text-4xl">インターネット<br>大好き</div>
                  </div>
                  <p class="text-gray-500 text-xl md:text-2xl">wakamonogにはインターネットが大好きな参加者がたくさんいます。インターネットが大好きな方のご参加をお待ちしています。
                  </p>
              </div>

              <div class="w-full border-b md:w-1/2 lg:w-1/3 lg:border-r lg:border-b-0 p-8">
                  <div class="flex items-center mb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20"
                          fill="currentColor" class="h-6 w-6 text-indigo-500">
                          <path
                              d="M16 3C8.8 3 3 8.8 3 16s5.8 13 13 13 13-5.8 13-13c0-1.398-.188-2.793-.688-4.094L26.688 13.5c.2.8.313 1.602.313 2.5 0 6.102-4.898 11-11 11S5 22.102 5 16 9.898 5 16 5c3 0 5.695 1.195 7.594 3.094L25 6.688C22.7 4.386 19.5 3 16 3zm11.281 4.281L16 18.563l-4.281-4.282-1.438 1.438 5 5 .719.687.719-.687 12-12z">
                          </path>
                      </svg>
                      <div class="text-gray-700 ml-4 text-3xl md:text-4xl">仲間を作りたい</div>
                  </div>
                  <p class="text-gray-500 text-xl md:text-2xl">wakamonogでは共通の趣味・興味分野を持った若者がたくさんいます。仲間を作る場としては最高のコミュニティです。
                  </p>
              </div>

              <div class="w-full border-b md:w-1/2 md:border-r md:border-b-0 lg:w-1/3 lg:border-b-0 p-8">
                  <div class="flex items-center mb-2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20"
                          fill="currentColor" class="h-6 w-6 text-indigo-500">
                          <path
                              d="M16 3C8.8 3 3 8.8 3 16s5.8 13 13 13 13-5.8 13-13c0-1.398-.188-2.793-.688-4.094L26.688 13.5c.2.8.313 1.602.313 2.5 0 6.102-4.898 11-11 11S5 22.102 5 16 9.898 5 16 5c3 0 5.695 1.195 7.594 3.094L25 6.688C22.7 4.386 19.5 3 16 3zm11.281 4.281L16 18.563l-4.281-4.282-1.438 1.438 5 5 .719.687.719-.687 12-12z">
                          </path>
                      </svg>
                      <div class="text-gray-700 ml-4 text-3xl md:text-4xl">偉くない</div>
                  </div>
                  <p class="text-gray-500 text-xl md:text-2xl">wakamonogでは参加者・運営問わずにインターネットという対等なものをテーマにしています。wakamonogでもみんな対等です。
                  </p>
                </div>
          
          </div>
      </div>
  </div>
</section>


<section class="pt-4 bg-[#E5E5E5]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:px-6">
        <div class="max-w-screen-md ">
            <h2 class="leading-relaxed mb-4 text-4xl md:text-5xl tracking-tight font-extrabold text-gray-900"><a class="text-4xl md:text-5xl text-yellow-500">wakamonog reborn @JANOG30 Meeting</a><br>では次の目標を掲げています。</h2>
        </div>
    </div>
    <div class="bg-[#E5E5E5] px-2 py-2">
        <div id="features" class="mx-auto max-w-9xl text-2xl">
          <ul class="mt-3 grid grid-cols-1 gap-6 text-center md:grid-cols-3">
            <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
      
              <img src="https://www.svgrepo.com/show/530438/ddos-protection.svg" alt="" class="mx-auto h-10 w-10">
              <h3 class="text-gray-700 my-3 font-display font-medium text-2xl md:text-3xl">メンバーの枠を広げる</h3>
              <p class="text-gray-500 mt-1.5 text-xl md:text-2xl leading-6 text-secondary-500">
                コミュニティの多様性には、新しいメンバーが常に必要です。異なる技術的背景や経験を持つメンバーを迎え入れることで、新しい視点やアイデアを取り入れ、コミュニティ全体を活性化させます。
              </p>
      
            </li>
            <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
      
              <img src="https://www.svgrepo.com/show/530442/port-detection.svg"
                      alt="" class="mx-auto h-10 w-10">
              <h3 class="text-gray-700 my-3 font-display font-medium text-2xl md:text-3xl">組織として活動する</h3>
              <p class="text-gray-500 mt-1.5 text-xl md:text-2xl leading-6 text-secondary-500">
                コミュニティの運営のために、仕組みづくりを積極的に行っていきます。各メンバーが自分の強みを活かして活動できるようにサポートし、コミュニティ全体のパフォーマンスを向上させます。
              </p>
      
            </li>
            <li class="rounded-xl bg-white px-6 py-8 shadow-sm">
              <img src="https://www.svgrepo.com/show/530444/availability.svg" alt="" class="mx-auto h-10 w-10">
              <h3 class="text-gray-700 my-3 font-display font-medium text-2xl md:text-3xl">定期的に活動する</h3>
              <p class="text-gray-500 mt-1.5 text-xl md:text-2xl leading-6 text-secondary-500">
                定期的なミーティングやワークショップを開催し、コミュニティの活性化を図ります。継続的な学習と成長の機会を提供することで、メンバーのスキルアップとコミュニティ全体の雰囲気を高めます。
              </p>
      
            </li>
          </ul>
        </div>
    </div>
    
  </section>